{% extends "layout.html" %}


{% block main %}
    <form action="/register" method="post">
        <input name="name" type="text" placeholder="Name" autocomplete="off">
        <input name="username" type="text" placeholder="Username" autocomplete="off">
        <input name="password" type="password" placeholder="Password" autocomplete="off">
        <input name="confirmation" type="password" placeholder="Confirm Password" autocomplete="off">
        <button type="submit">Register</button>
    </form>


{% endblock %}